﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="mainMenuUC.ascx.cs" Inherits="webApplicationDevelopmentFinal.user_controls.mainMenuUC" %>
<asp:SqlDataSource runat="server" id="generate_menu" ConnectionString="<%$ ConnectionStrings:final_proj_db %>"></asp:SqlDataSource>

<div class="navbar-collapse collapse" id="pageMainMenu" runat="server"></div>