﻿body {
}

.result {
    display: block;
    padding-top: 10px;
    clear: both;
}

[id$="page_content"] {
    margin-top: 10px;
}

[id$="author_name"],
[id$="publish_date"] {
    font-weight: bold;
}
    
 footer {
    position: fixed;
    bottom: 0;
}

.center {
    text-align: center;
}

.form-control {
    max-width: 100%;
}

.chkbox label{
    margin-left: 5px;
}